/* import work sans font */
:root{
    --main-color:#10cab7;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Work Sans', sans-serif;
}
.container {
	padding: 0 15px;
	margin: 0 auto;
	
}
/* small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* end Global Rules */

/* start Header */
header {
	padding: 20px;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo {
	width: 60px;
}
header .links {
	position: relative;
}
/* icon button style */
header .links .icon {
	width: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	cursor: pointer;
}
.links .icon span {
	background-color: #333;
	margin-bottom: 5px;
	height: 2px;
}
.links .icon span:first-child,
.links .icon span:last-child {
	width: 100%;
}
.links .icon span:nth-child(2) {
	width: 60%;
	transition: 0.2s;
}
.links .icon:hover span:nth-child(2) {
	width: 100%;
}
/* list box style */
header .links ul {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 0;
    background:#f6f6f6;
    min-width:200px;
    top:calc(100% + 15px);
    display:none;
}
header .links ul::before {
	content: ' ';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}
header .links:hover ul{
    display:block;

}
header .links li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color:#333;
    transition:0.3s;
}
header .links li a:hover{
    padding-left:25px;
}
header .links li:not(:last-child) a{
border-bottom: 1px solid #ddd;
}
/* end Header */

/* start landing page */
.landing{
    background-image:url(../images/backround.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    height:calc(100vh - 64px);
    position: relative;
    z-index: -10;
}
.landing .hero-text{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
    width:320px;
    max-width:100%;
}
.hero-text h1{
    margin:0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.hero-text p{
    font-size: 19px;
    line-height: 1.8;
}
/* end landing page */

/* start features */

.features{
	padding:60px 0 ;
	background:#f6f6f6;
	text-align:center;
}
.features h2{
	font-size: 48px;
	margin-top: 0;
	color:var(--main-color);
}
.features .container{
	display:grid;
	gap:15px;
	grid-template-columns: repeat(auto-fill ,minmax(300px,1fr));
	/* display:flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap; */
}
.feat{
	padding:10px;
    background:white;
    color:#000;
    border-radius:0.8rem;
    display:flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
    box-shadow:-5px 5px 15px 1px rgba(0,0,0,0.1);
}
.feat svg{
	width: 50px;
	margin:10px 20px;
	fill:var(--main-color);
}
.feat h3{
	font-weight:800;
	margin: 30px 0;
}
.feat p {
	line-height: 1.8;
	color:#777;
	font-size:17px;
}
/* end features */